body {
    font-family: 'Poppins', sans-serif;
    color: #434343;
}

.slider-content p {
    font-weight: 200;
    padding-top: 15px;
}

a.active-menu {
    color: #4eac4c !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1.hero-heading {
    font-weight: 600;
    color: #4EAC4C;
}

h1.section-heading {
    font-size: 32px;
    font-weight: 600;
    color: #4EAC4C;
}

/* header style */

.collapse.navbar-collapse.order-lg-1.food-hub-menu li a {
    font-size: 18px;
    font-weight: 400;
    /* color: #515151 !important; */
    letter-spacing: 1px;
}

.collapse.navbar-collapse.order-lg-1.food-hub-menu li a:hover {
    color: #4eac4c !important;
}

.nav-btns button {
    color: #fff;
    background: #4eac4c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
}

span.logo-text {
    color: #4eac4c;
    font-size: 30px;
    display: inline-block;
    font-weight: 700;
    border: 1px solid #f4ecec;
    padding: 5px;
}

/* Slider Section Style */

.slider-content a.order-btn {
    background: #4eac4c;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block;
    margin-top: 15px;
}


/* infomation card style */

.information-section span i {
    color: #4eac4c;
    font-size: 38px;
    display: inline-block;
    padding-bottom: 20px;
}

.information-section .card {
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 5px #e6e6e6;
}

/* menu card style */
.rating span {
    color: #F4BF5B;
    font-size: 12px;
}

.card.menu-card {
    color: #434343;
    border: 1px solid #eee;
    box-shadow: 0px 2px 7px #eee;
}

button.btn.add-to-cart-btn-plus {
    color: #fff;
    border-radius: 50%;
    background: #4eac4c;
    padding: 0;
    width: 30px;
    height: 30px;
}

button.btn.add-to-cart-btn-plus:hover {
    background: #3f3f3f;
}

.card.menu-card small {
    font-size: 12px;
    color: #a0a0a0;
    padding-bottom: 15px;
    display: inline-block;
}

.active-filter-btn {
    background: #4eac4c;
    color: #fff !important;
}

.filter-button-group button {
    font-size: 22px;
    color: #434343;
}

button.btn.add-to-cart-btn-plus.seller-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-top: 15px;
}

.card.how-work-card p.card-text {
    font-size: 12px;
    color: #a0a0a0;
}

.card-body.text-center i {
    color: #4eac4c;
    font-size: 54px;
    padding-bottom: 15px;
}

/* how to works style */

.how-work-card {
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 5px #e6e6e6;
    padding: 15px;
}

.customer-info img {
    margin-right: 15px;
    border-radius: 50%;
}

.customer-info h4 {
    margin: 0;
    font-size: 20px;
}

.customer-info small {
    color: #a0a0a0;
    font-size: 14px;
}

.card.how-work-card.review-card .card-text {
    font-size: 14px;
    color: #5d5d5d;
    margin-top: 20px;
}


/* contact us style */

form.contact-form .form-control {
    border: 1px solid #4eac4c;
    padding: 10px;
}

button.submit-btn {
    background: #4eac4c;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.contact-info p {
    margin: 0;
}

.contact-info h5 {
    color: #4eac4c;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info img {
    max-width: 100%;
    border-radius: 10px;
    height: 250px;
    margin-top: 30px;
    object-fit: cover;
    object-position: center;
}

button.btn.subscribe-btn {
    color: #fff;
    background: #4eac4c;
    border: 0;
    margin-left: -5px;
    padding: 15px 30px;
    font-size: 18px;
}

button.btn.subscribe-btn:hover {
    color: #3f3f3f;
}

.subscribe-form {
    margin-top: 30px;
}

/* footer style */

section#footer {
    background: #4eac4c;
    color: #fff;
    padding: 60px 30px;
}

span.logo-text.footer-logo {
    color: #fff;
    margin-bottom: 15px;
}

.footer-link a {
    display: inherit;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}


.opening i {
    font-size: 45px;
    margin-right: 15px;
}

.opening p {
    margin: 0;
}

.social a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.social a:hover {
    color: black;
}

h3.login-title {
    color: #4eac4c;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 34px;
}

.login-registration {
    border: 1px solid #e1e1e1;
    box-shadow: 1px 3px 10px #e1e1e1;
}

.registration-txt {
    text-align: center;
    display: inherit;
    margin-top: 15px;
    color: black;
}

.registration-txt:hover {
    color: #4eac4c;
}

/* cart page style */
.bank-card {
    background-color: #4EAC4C;
}

button.checkout-btn {
    width: 100%;
    background: #fff;
    border: none;
    color: #000;
}

.item-card .card h5 {
    font-size: 16px;
    font-weight: 300;
}

.item-card .small {
    color: #a0a0a0;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.counter-input {
    width: 115px;
}

.counter-input button {
    background: #4eac4c;
    color: #fff;
    padding: 0;
    height: 30px;
}

.counter-input button:first-child {
    margin-right: 5px;
}

.counter-input button:last-child {
    margin-left: 5px;
}

.card.cart-item-card {
    border: 1px solid #4eac4c54;
}

/* Responsive style */

@media (min-width: 768px) {
    div.section-gap {
        height: 60px;
    }

    h1.hero-heading {
        font-size: 52px;
    }

    .slider-content p {
        font-size: 18px;
    }

    .login-registration {
        padding: 60px;
    }
}


@media (max-width: 768px) {
    .navbar-brand {
        width: 100% !important;
        display: block;
    }

    span.logo-text {
        text-align: center;
        margin-bottom: 20px;
    }

    div.section-gap {
        height: 40px;
    }

    .text-responsive-slider-title {
        font-size: calc(150% + 1vw + 1vh);
    }

    .text-responsive-section-title {
        font-size: calc(120% + 1vw + 1vh);
    }

    .text-responsive-content {
        font-size: calc(40% + 1vw + 1vh);
    }

    .carousel-indicators {
        bottom: -50px;
    }

    button.btn.subscribe-btn {
        width: 100%;
        margin-top: 10px;
    }

    .login-registration {
        padding: 10px;
    }


}